In [1]:
!pip install kafka-python

Requirement already satisfied: kafka-python in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.0.2)

[notice] A new release of pip is available: 23.3.1 -> 24.1.2
[notice] To update, run: pip install --upgrade pip

In [2]:
conda info --envs

# conda environments:
#
base                     /Users/lakshitashetty/anaconda3
                         /Users/lakshitashetty/miniforge3
                         /Users/lakshitashetty/miniforge3/envs/env1
                         /Users/lakshitashetty/pytorch-test/env


Note: you may need to restart the kernel to use updated packages.

In [3]:
conda install -c conda-forge kafka-python

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.5.2
  latest version: 24.5.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.5.0



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [4]:
import sys
print(sys.executable)  # This will show the path of the Python interpreter being used

/Users/lakshitashetty/anaconda3/bin/python

In [5]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [6]:
producer= KafkaProducer(bootstrap_servers=['3.12.74.181:9092'],value_serializer=lambda x: dumps(x).encode('utf-8'))

In [7]:
producer.send('demo_test', value={'Name':'Lakshita'})

In [8]:
producer.send('demo_test', value={'Surname':'Shetty'})

In [9]:
df = pd.read_csv("data/indexProcessed.csv")

In [10]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [15]:
df.sample(1).to_dict(orient='records')[0]

{'Index': 'N225',
 'Date': '1966-11-25',
 'Open': 1405.579956,
 'High': 1405.579956,
 'Low': 1405.579956,
 'Close': 1405.579956,
 'Adj Close': 1405.579956,
 'Volume': 0.0,
 'CloseUSD': 14.05579956}

In [20]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [18]:
producer.flush() #clear data from kafka server